{% extends 'base.html.twig' %}

{% block title %}Capture{% endblock %}

{% block body %}
    <h1>Choisissez un pokemon pour la chasse</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Sexe</th>
                <th>Niveau</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemons %}
            <tr>
                <td>{{ pokemon.nom }}</td>
                <td>{{ pokemon.sexe }}</td>
                <td>{{ pokemon.niveau }}</td>
                <td>
                    {% if pokemon.date_action!=NULL %}
                        {% set date_now = date("now")|format_datetime() %}
                        {% set old_date = pokemon.date_action|format_datetime() %}
                        {% set r = date(old_date).diff(date(date_now)) %}
                        {% set hour = r.h %}
                        {% set result = hour + r.days*24 %}
                        {% if result > 0 and pokemon.status != 'v'%}
                            {{ include('pokemon/_bring_to_capture_form.html.twig') }}
                        {% else %}
                            Indisponible pour partir
                        {%endif %}
                    {% elseif pokemon.status != 'v' %}
                        {{ include('pokemon/_bring_to_capture_form.html.twig') }}
                    {% else %}
                            Indisponible pour partir
                    {% endif %}   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}