{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
    <h1>Pokemon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idp</th>
                <th>Nom</th>
                <th>Sexe</th>
                <th>Xp</th>
                <th>Niveau</th>
                <th>PrixVente</th>
                <th>Dresseurid</th>
                <th>Disponibleentrainement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemon %}
            <tr>
                <td>{{ pokemon.idp }}</td>
                <td>{{ pokemon.nom }}</td>
                <td>{{ pokemon.sexe }}</td>
                <td>{{ pokemon.xp }}</td>
                <td>{{ pokemon.niveau }}</td>
                <td>{{ pokemon.prixVente }}</td>
                <td>{{ pokemon.dresseurid }}</td>
                <td>{{ pokemon.disponibleentrainement ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('pokemon_show', {'idp': pokemon.idp}) }}">show</a>
                    <a href="{{ path('pokemon_edit', {'idp': pokemon.idp}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pokemon_new') }}">Create new</a>
{% endblock %}
