{% extends 'base.html.twig' %}

{% block title %}Pokemon{% endblock %}

{% block body %}
    <h1>Pokemon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_pokemon</th>
                <td>{{ pokemon.idp }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ pokemon.sexe }}</td>
            </tr>
            <tr>
                <th>Xp</th>
                <td>{{ pokemon.xp }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ pokemon.niveau }}</td>
            </tr>
            <tr>
                <th>PrixVente</th>
                <td>{{ pokemon.prixVente }}</td>
            </tr>
            <tr>
                <th>PokemonTypeId</th>
                <td>{{ pokemon.pokemonTypeId }}</td>
            </tr>
            <tr>
                <th>Dresseurid</th>
                <td>{{ pokemon.dresseurid }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ pokemon.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pokemon_index') }}">back to list</a>

    <a href="{{ path('pokemon_edit', {'id_pokemon': pokemon.idp}) }}">edit</a>

    {{ include('pokemon/_delete_form.html.twig') }}
{% endblock %}
