<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} WebTP 5!{% endblock %}</title>
        <style>
            .app-bold{
                font-weight: bold;
            }
        </style>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {% block stylesheets %}{% endblock %}
    	  </head>
    <body>
 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Le Pokedex</a>
    </div>
    <ul class="nav navbar-nav">
      	<li><a href="{{ path('homepage') }}">Home</a></li>
      	{% if user is defined and user != '' %}
      	
	    <li><a href="{{ path('mes_pokemons') }}">Mes pokemons</a></li>
	    <li><a href="{{ path('capture_index') }}">Capture</a></li>
	    <li><a href="{{ path('market') }}">Pokemons Market</a></li>
	    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
	    
	    {% endif %}
	    
	    {% if user is not defined or user is null %}
	    <li><a href="{{ path('dresseur_new') }}">Inscription</a></li>
	    <li><a href="{{ path('app_login') }}">Connexion</a></li>
	    
	    {% endif %}
	    
	    
        
    </ul>
  </div>
</nav>
    
    
    <div class="card" style="width: 80%;padding : 30px; margin: auto; border: 2px solid black;">
        
        <div class="card-body">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </div>
    <hr>
    <footer class="page-footer font-small blue pt-4">
        <p>Attrapez-les tous !</p>
    </footer>
    </body>
</html>
