<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} WebTP 5!{% endblock %}</title>
        <style>
            .app-bold{
                font-weight: bold;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    	<link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' />
    </head>
    <body>
 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Le Pokedex</a>
    </div>
    <ul class="nav navbar-nav">
      	<li class="active"><a href="{{ path('homepage') }}">Home</a></li>
	    <li class="active"><a href="{{ path('pokemon_type_index') }}">Liste des pokemons</a></li>
	    <li class="active"><a href="{{ path('pokemon_type_new') }}">Ajouter un type de pokemon</a></li>
	    <li class="active"><a href="{{ path('homepage') }}">Mes pokemons</a></li>
	    <li class="active"><a href="{{ path('homepage') }}">Pokemons Market</a></li>
	    <li class="active"><a href="{{ path('dresseur_new') }}">Inscription</a></li>
	    <li class="active"><a href="{{ path('dresseur_connexion') }}">Connexion</a></li>
    </ul>
  </div>
</nav>
    
    
    <div class="card" style="width: 80%;margin: auto">
        <div class="card-body">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </div>
    <hr>
    <footer class="page-footer font-small blue pt-4">
        <p>Attrapez-les tous !</p>
    </footer>
    </body>
</html>
