<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} WebTP 6!{% endblock %}</title>
        
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		{% block stylesheets %}{% endblock %}
    	<style>
            .app-bold, .navbar-nav li a{
                font-weight: bold;
            }
        </style>  
    	</head>
    <body>
 
<nav class="navbar navbar-default" style="border-bottom : 5px solid blue">
  <div class="container-fluid">
    <div class="navbar-header" style="border-right : 2px solid blue;">
      <a class="navbar-brand" href="#" style="color:black;">Le Pokedex</a>
    </div>
    <ul class="nav navbar-nav">
      	<li><a href="{{ path('homepage') }}" style="color:black;" class="">Home</a></li>
      	{% if user is defined and user != '' %}
      	<li><a href="{{ path('mes_pokemons') }}" style="color:black;">Mes pokemons</a></li>
	    <li><a href="{{ path('capture') }}" style="color:black;">Capture</a></li>
	    <li><a href="{{ path('market') }}" style="color:black;">Pokemons Market</a></li>
	    <li><a href="{{ path('app_logout') }}" style="color:black;">Déconnexion</a></li>
	    {% endif %}
	    
	    {% if user is not defined or user is null %}
	    <li><a href="{{ path('dresseur_new') }}" style="color:black;">Inscription</a></li>
	    <li><a href="{{ path('app_login') }}" style="color:black;">Connexion</a></li>
	    {% endif %}
	    
    </ul>
  </div>
</nav>
    
    
    <div class="card" style="width: 80%;padding : 30px; margin: auto; border: 2px solid black;">
        
        <div class="card-body">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </div>
    <hr>
    
    </body>
    <footer class="page-footer font-small blue" style="height: 50px; border-top : 5px solid blue">
        <p>Attrapez-les tous !</p>
    </footer>
</html>
