<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} WebTP 6!{% endblock %}</title>
        
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		{% block stylesheets %}{% endblock %}
    	<style>
            .app-bold{
                font-weight: bold;
            }
            .navbar-nav li a.menuItem{
            	font-size: 24px;
            }
            .navbar-nav li a.menuItem:hover{
            	color: blue;
            	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 0px 6px 0px;
            }
			.footer {
			  position: fixed;
			  left: 0;
			  bottom: 0;
			  width: 100%;
			  background-color: white;
			  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 0px 6px 0px;
			  color: blue;
			  text-align: center;
			}
        </style>  
    	</head>
    <body>
 
<nav class="navbar navbar-default" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 0px 6px 0px;">
  <div class="container-fluid" style="background-color:white;">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:blue;font-size:30px">Le Pokedex</a>
    </div>
    <ul class="nav navbar-nav">
      	<li><a href="{{ path('homepage') }}" class="menuItem">Home</a></li>
      	{% if user is defined and user != '' %}
      	<li><a href="{{ path('mes_pokemons') }}" class="menuItem">Mes pokemons</a></li>
	    <li><a href="{{ path('capture') }}" class="menuItem">Capture</a></li>
	    <li><a href="{{ path('market') }}" class="menuItem">Pokemons Market</a></li>
	    <li><a href="{{ path('app_logout') }}" class="menuItem">Déconnexion</a></li>
	    {% endif %}
	    
	    {% if user is not defined or user is null %}
	    <li><a href="{{ path('dresseur_new') }}" class="menuItem">Inscription</a></li>
	    <li><a href="{{ path('app_login') }}" class="menuItem">Connexion</a></li>
	    {% endif %}
	    
    </ul>
  </div>
</nav>
    
    
    <div class="card" style="width: 80%;padding : 30px; margin: auto; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 0px 6px 0px;">
        
        <div class="card-body">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </div>
    <hr>
    
    </body>
    <footer class="footer">
        <p>Attrapez-les tous !</p>
    </footer>
</html>
