{% extends 'base.html.twig' %}

{% block title %}New Dresseur{% endblock %}

{% block body %}

    <h1>Connexion</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
	<button class="btn">{{ button_label|default('Se connecter') }}</button>
	{{ form_end(form) }}

	<br>
    <a href="{{ path('dresseur_index') }}">back to list</a>
{% endblock %}
