{% extends 'base.html.twig' %}

{% block title %}Capture{% endblock %}

{% block body %}
    <h1>Capture</h1><br>
    
    <h4>Cliquer sur l'environnement où vous souhaitez capturer un pokemon : </h4>

    <a class="btn btn-primary" href="{{ path('doCapture', {'id': pokemon.idP, 'type': "montagne"}) }}" role="button">Montagne</a>
    <a class="btn btn-primary" href="{{ path('doCapture', {'id': pokemon.idP, 'type': "prairie"}) }}" role="button">Prairie</a>
    <a class="btn btn-primary" href="{{ path('doCapture', {'id': pokemon.idP, 'type': "ville"}) }}" role="button">Ville</a>
    <a class="btn btn-primary" href="{{ path('doCapture', {'id': pokemon.idP, 'type': "foret"}) }}" role="button">Foret</a>
    <a class="btn btn-primary" href="{{ path('doCapture', {'id': pokemon.idP, 'type': "plage"}) }}" role="button">Plage</a>

{% endblock %}